@import '~variant.scss';

:local(.container) {
	width: 100%;
	height: 100%;
	overflow: scroll;
	background-color: $background-color;
	:local(.inner) {
		margin: 0 auto;
		width: 1200px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		:local(.header) {
			width: 100%;
			height: 270px;
			flex-shrink: 0;
			background-color: lightgray;
		}

		:local(.content){
			width: 100%;
			flex-shrink: 0;
		}

		:local(.footer){
            font-size: 14px;
            color: #333333;
			width: 100%;
			height: 100px;
			background-color: #CDCDCD;
			flex-shrink: 0;
			padding: 40px 52px;
			box-shadow: $box-shadow-light;
		}
	}
}
