// color
$background-color: #F0F1F2;

// border
$primary-border-radius: 5px;
$box-shadow-heavy: 0px 0px 24px rgba(0, 0, 0, 0.35);
$box-shadow-light: 0px 0px 8px rgba(0, 0, 0, 0.2);

// font
$big-font: 24px;
$primary-font: 14px;
$bold-font: bold;
$normal-font: normal;

$title-color: #333333;
$content-color: #999999;

// padding
$primary-padding: 20px;

