@import '~variant.scss';

:local(.container) {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    padding: 24px 30px;
    padding-bottom: 75px;
    font-size: $primary-font;
    color: $title-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    :local(.breadthumb) {
        margin-bottom: 6px;
        width: 100%;
    }

    :local(.content) {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        :local(.left) {
            width: 66%;
            height: 100%;
            padding-top: 15px;

            :local(.committeeName) {
                color: #00005C;
                font-size: 18px;
                text-align: center;
                margin-bottom: 20px;
            }

            :local(.card) {
                width: 100%;
                height: 360px;
                background-color: white;
                box-shadow: $box-shadow-light;
                border-radius: 6px;
                margin-bottom: 10px;
                padding: 40px 40px 28px 40px;

                :local(.navigate) {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;

                    >span {
                        padding: 0 6px;
                        font-size: 15px;
                        color: #8C8D8E;
                        cursor: pointer;
                    }

                    :local(.work) {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        height: 100%;

                        >span {
                            padding: 0 6px;
                            font-size: 15px;
                            color: #8C8D8E;
                            cursor: pointer;
                            margin-bottom: 20px;
                        }

                        :local(.article) {
                            width: 100%;
                            margin-bottom: 15px;
                            font-size: 14px;
                            border-bottom: 1px solid #cccccc;
                            padding-bottom: 4px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            cursor: pointer;
                        }

                        :local(.more) {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                        }
                    }
                }

                :local(.module) {
                    width: 100%;
                    margin-top: 20px;
                    height: calc( 100% - 42px );

                    :local(.desc) {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-end;

                        :local(.text) {
                            width: 100%;
                            height: 95%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin-bottom: 8px;
                        }
                    }

                    :local(.loginPanel) {
                        :local(.title) {
                            text-align: center;
                            font-size: 16px;
                            color: #00005C;
                        }
                        :local(.loginForm) {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                            padding-top: 20px;
                        }
                    }
                }

                :local(.standard) {
                    width: 100%;
                    height: calc( 100% - 25px );
                    padding-top: 10px;

                    :local(.desc) {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-end;

                        :local(.text) {
                            width: 100%;
                            height: 95%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }

        :local(.right) {
            width: 34%;
            height: 100%;
            padding-left: 30px;
        }
    }
}
