// $page-header-color: #161E44;

:local(.container){
	width: 1210px;
	height: 185px;
	// border-top: 5px $page-header-color solid;
	position: relative;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding:0 10px;

	:local(.logo){
        cursor: pointer;
		flex-grow: 0;
		flex-shrink: 0;
	}

	:local(.rightPanel){
		flex-grow: 1;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		height: 100%;
		justify-content: space-between;
	}



}
