@import '~variant.scss';

:local(.container) {
    width: 100%;
    height: 560px;
    background-size: contain;
    position: relative;
    background-image: url('publicRes/img/homepage/homepage-background.jpg');

    :local(.picNews) {
        position: absolute;
        left: 250px;
        width: 700px;
        top: 230px;
        :local(.head) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            >a {
                font-size: 16px;
            }

            :local(.title) {
                >img {
                    margin-right: 12px;
                }
                font-size: 16px;
                font-weight: bold;
                color: #333333;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        :local(.body) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            :local(.news) {
                width: 170px;
                height: 80px;
                position: relative;
                >img {
                    width: 100%;
                    margin-bottom: 12px;
                    object-fit: cover;
                    height: 100%;
                }
                :local(.newsTitle) {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-size: 12px;
                    color: white;
                    margin-top: -35px;
                    position: absolute;
                    bottom:0px;
                    left: 0px;
                    width: 170px;
                    background-color: rgba(72,70,70,0.7);
                }
            }

        }
    }

    :local(.checkoutReport) {
        position: absolute;
        top: 40px;
        left: 230px;

        :local(.queryReport) {
            border-radius: 6px;
            :local(.title) {
                >img {
                    margin-right: 12px;
                    width: 160px;
                    margin-bottom: 15px;
                }
                width: 100%;
                font-size: 16px;
                font-weight: bold;
                color: #333333;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

            }

            :local(.content) {
                color: white;
                font-size: 14px;
                text-align: left;
                margin-bottom: 15px;
            }

            :local(.footer) {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                :global(.ant-btn) {
                    padding: 0px 30px;
                    background-color: #CF0C17;
                    border: none;
                    color: white;
                }
            }
        }
    }

    :local(.contact) {
        background-image: url('publicRes/img/homepage/ribbon.png');
        background-size: contain;
        width: 610px;
        height: 226px;
        background-repeat: no-repeat;
        position: absolute;
        right: 220px;
        top: 330px;

        :local(.contactCardTitle) {
            position: absolute;
            top: 15px;
            left: 280px;
        }

        :local(.infoPanel) {
            position: absolute;
            right: 15px;
            display: flex;
            flex-direction: column;
            width: 190px;
            top: 50px;
            color: white;

            &>div:nth-child(1){
                display: flex;
                flex-direction: column;
                flex-wrap: wrap-reverse;
                height: 52px;
                &>span:nth-child(3){
                    align-self: flex-end;
                }
            }

            &>div:nth-child(2){
                display: flex;
                justify-content: flex-end;
                padding-right: 12px;

                :global(.ant-btn){
                    background-color: #CF0C17;
                    color: white;
                    border:none;
                }
            }
        }
    }

    :local(.center){
        position: absolute;
        left: 250px;
        top: 350px;
        display: flex;
        flex-direction: column;
        width: 430px;
        height: 160px;

        :local(.notificationCardTitle){

        }

        :local(.lineContaienr){
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-grow: 2;
            margin-top: 10px;

            :local(.line){
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 12px;
                width: 180px;
                margin-bottom: 5px;
                &::before {
                   content: '.  ';
                   font-size: 15px;
                   color: #CF0C17;
                   line-height: 15px;
                }
            }
        }
    }


    :local(.checkoutRange) {
        position: absolute;
        right: 250px;
        top:100px;

        :local(.left) {
            height: 100%;
            width: 500px;
            position: relative;

            :local(.product) {
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                position: absolute;
                right: 0px;
                >span {
                    width: 120px;
                    height: 100%;
                    border: 1px solid #cccccc;
                    border-radius: 6px;
                    font-size: 12px;
                    color: #333333;
                    padding-left: 5px;
                    padding-right: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    >img {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

}

:local(.titleWithIcon) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    >img {
        margin-right: 12px;
        width: 12px;
    }
}

:local(.cardTitle) {
    position: absolute;
    right: 0px;
    top: 15px;
}
