@import '~variant.scss';

:local(.container) {
    width: 100%;
    // height: 100%;
    height: calc( 100vh - 245px );
    background: #F2F3F4;
    position: relative;

    :local(.top) {
        background-image: url('publicRes/img/homepage/top-background.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 530px;

        :local(.topInner) {
            width: 1210px;
            margin: 0 auto;
            height: 100%;

            :local(.inspect) {
                height: 340px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                :local(.inspectLeft) {
                    height: 100%;
                    width: 345px;
                    padding-top: 25px;
                    padding-left: 38px;

                    :local(.title) {
                        width: 100%;

                        >img {
                            margin-bottom: 25px;
                        }
                    }

                    :local(.content) {
                        color: white;
                        font-size: 16px;
                        text-align: left;
                        margin-bottom: 30px;
                        letter-spacing: 2px;
                    }

                    :local(.footer) {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;

                        :local(.checkoutBtn) {
                            background-color: #CD1F17;
                        }

                        :local(.contractBtn) {
                            // background-color: #ffffff00;
                            // border-color: white;
                            border: 2px solid white;
                            color: white;
                            margin-left: 10px;
                        }
                    }
                }
                :local(.inspectRight) {
                    height: 100%;
                    width: 980px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding-right: 40px;

                    :local(.productLine) {
                        margin-top: 10px;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;

                        :local(.productTitle) {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 60%;
                            >span {
                                font-size: 16px;
                                font-weight: bold;
                                margin-left: 13px;
                            }
                        }
                        :local(.productContainer){
                            width: 30%;
                            height: 154px;

                            :local(.line){
                                cursor: pointer;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                font-size: 14px;
                                width: 255px;
                                margin-bottom: 15px;
                                &::before {
                                   content: '■  ';
                                   font-size: 10px;
                                   color: #CD1F17;
                                   margin-right: 8px;
                                }
                            }
                        }
                    }


                }
            }

            :local(.pic) {
                padding: 43px 40px 0 35px;
                height: 180px;
                width: 100%;
                position: relative;

                :local(.body) {
                   display: flex;
                   flex-direction: row;
                   justify-content: space-between;
                   :local(.news) {
                       cursor: pointer;
                       width: 270px;
                       height: 138px;
                       position: relative;
                       >img {
                           width: 100%;
                           object-fit: cover;
                           height: 100%;
                       }
                       :local(.newsTitle) {
                           padding: 1px 4px;
                           white-space: nowrap;
                           text-overflow: ellipsis;
                           overflow: hidden;
                           font-size: 14px;
                           color: white;
                           position: absolute;
                           bottom:0px;
                           left: 0px;
                           width: 270px;
                           background-color: rgba(72,70,70,0.7);
                       }
                   }
               } // end of body

               :local(.moreContact) {
                   position: absolute;
                   width: 625px;
                   height: 360px;
                   right: 40px;
                   z-index: 99;
                   // bottom: calc(100% - 880px);

                   :local(.moreContactTitle) {
                       background-color: #1B5792;
                       height: 48px;
                       width: 100%;
                       border: 1px solid #1B5792;
                       border-top-left-radius: 6px;
                       border-top-right-radius: 6px;
                       font-size: 16px;
                       color: white;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       flex-direction: row;

                       >span {
                           width: 95%;
                           text-align: center;
                       }

                       >i {
                           font-size: 20px;
                           cursor: pointer;
                       }
                   }

                   :local(.moreContactBody) {
                       border: 1px solid white;
                       border-bottom-left-radius: 6px;
                       border-bottom-right-radius: 6px;
                       background-color: white;
                       width: 100%;
                       height: 312px;
                       padding: 40px 50px;

                       >div {
                           font-size: 16px;
                           margin-bottom: 15px;
                       }
                   }
               }

            }

        }

    }

    :local(.bottom) {
        background-image: url('publicRes/img/homepage/bottom-background.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        height: calc(100% - 555px);
        margin-top: 25px;
        min-height: 285px;

        :local(.bottomInner) {
            width: 1210px;
            margin: 0 auto;
            height: 100%;
            background-image: url('publicRes/img/homepage/ribbon.png');
            background-size: initial;
            background-position: right;
            background-position-y: top;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: row;
            padding-top: 40px;
            padding-left: 35px;

            :local(.bottomLeftPanel) {
              width: 685px;
              height: 100%;
              display: flex;
              justify-content: space-between;

              :local(.notice) {
                  width: 50%;
                  height: 100%;

                  :local(.noticeIcon) {
                      cursor: pointer;
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                      font-size: 16px;
                      font-weight: bold;

                      >img {
                          margin-right: 10px;
                      }
                  }

                  :local(.lineContaienr) {
                      display: flex;
                      flex-direction: column;
                      justify-content: flex-start;
                      flex-wrap: wrap;
                      margin-top: 25px;
                      height: 180px;

                      :local(.product) {
                          margin-bottom: 10px;
                          cursor: pointer;
                          background-color: #F2F3F4;
                          height: 40px;
                          width: 150px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          flex-direction: row;
                          border: 1px solid #cccccc;
                          border-radius: 6px;
                          font-size: 16px;
                          color: #333333;
                          font-weight: bold;
                          >img {
                              margin-right: 5px;
                              width: 18px;
                          }
                      }
                  }
              }

              :local(.socialDutyReport){
                  width: 50%;
                  height: 100%;

                  :local(.socialDutyReportIcon) {
                      cursor: pointer;
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                      font-size: 16px;
                      font-weight: bold;

                      >img {
                          margin-right: 10px;
                      }
                  }
                  :local(.socialDutyReportContainer){
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      margin-top: 25px;
                      :local(.line){
                          cursor: pointer;
                          white-space: nowrap;
                          text-overflow: ellipsis;
                          overflow: hidden;
                          font-size: 14px;
                          width: 200px;
                          margin-bottom: 15px;
                          &::before {
                             content: '■  ';
                             font-size: 10px;
                             color: #CD1F17;
                             margin-right: 8px;
                          }
                      }
                  }
              }
            }

            :local(.contact) {
                width: 525px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding-right: 43px;

                :local(.contactIcon) {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 20px;
                    justify-content: flex-end;
                    >img {
                        margin-right: 10px;
                    }
                }

                :local(.tel) {
                    width: 100%;
                    color: white;
                    text-align: right;
                    font-size: 14px;
                    margin-bottom: 15px;
                }

                :local(.contactBtn) {
                    text-align: right;
                    margin-top: 10px;
                }
            }
        }
    }
}
